
.brandColor {
    background-color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid var(--ens-gray-2);
    font-family: var(--ens-mono);
    text-transform: uppercase;

    width: 200px;
    height: 200px;
    padding: 8px;
}

.colorName {
    font-size: 18px;
}

.colorList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 14px;
}

.colorList > span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) { 
    .brandColor {
        width: 260px;
        height: 260px;
    }
}

@media (min-width: 1280px) {
    .brandColor {
        padding: 20px;
        width: 330px;
        height: 330px;
    }
}