.content figure > figcaption {
  display: flex;
  justify-content: center;
}

.content figure > figcaption > p {
  margin-top: 0;
  font-size: 14px;
  font-family: var(--ens-sans);
  line-height: 1.2;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  .subtitle {
    font-size: 40px;
  }
}
