.content figure > figcaption > p {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
}

.subtitle {
  font-size: 32px;
  margin-block: 40px;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .subtitle {
    font-size: 64px;
  }
}
