.grid {
    display: grid;
    gap: 10px;
}

.card {
    color: var(--ens-white);
    background-color: var(--bg);
    padding: 10px;
    font-weight: 400;
    border-radius: 4px;
    transition: 150ms;
    line-height: 96%;

    gap: 24px;
    min-height: 194px;
    height: 100%;

    letter-spacing: -0.36px; 
    font-size: 18px;
}

.card:hover {
    background-color: var(--bg-hover);
}

.text {
    opacity: 80%;
}
.card:hover .text {
    opacity: 100%;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .card {
        min-height: 146px;

        font-size: 18px;
        letter-spacing: -0.36px; 
    }
}

@media (min-width: 1280px) {
    .card {
        gap: 40px;
        min-height: 240px;

        font-size: 24px;
        letter-spacing: -0.48px; 
    }
}