.grid {
    display: grid;
    gap: 10px;
}

.card {
    color: var(--ens-white);
    background-color: var(--bg);
    padding: 10px;
    font-weight: 500;
    border-radius: 4px;
    transition: 150ms;

    gap: 24px;
    min-height: 194px;
    height: 100%;
    font-size: 20px;
    letter-spacing: -0.4px;
}

.card:hover {
    background-color: var(--bg-hover);
    color: var(--page-text);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .card {
        min-height: 146px;
        letter-spacing: -0.24px;
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    .card {
        gap: 40px;
        letter-spacing: -0.48px;
        font-size: 24px;
        min-height: 240px;
    }
}

