.container {
    flex-direction: column;
    gap: 24px;
}

.nameText {
    border-radius: 13px;
    border: 0.5px solid var(--ens-gray-2);
    background-color: var(--ens-gray-1);
    box-shadow: 0px 12px 16px 0px rgba(14, 61, 104, 0.06); 
    opacity: 0.7;
    line-height: 90%;
    padding: 12px 16px;
    font-size: 34px;
}

.name {
    color: var(--ens-green);

    gap: 10px;
}

.wallet {
    font-size: 10px;
}

/* ANIMATION */

.upArrow, .downArrow {
    transition-duration: 500ms;
    transition-property: transform, opacity;
    opacity: 0;
}

.downArrow {
    transform: translateX(-200px) rotate(0deg);
}

.upArrow {
    transform: translateX(200px) rotate(-180deg);
}

.upArrow, .downArrow {
    width: 38px;
}

.downArrow.animating {
    transform: translate(-12px, -24px) rotate(270deg);
    opacity: 1;
}

.upArrow.animating {
    transform: translate(12px, 0) rotate(90deg);
    opacity: 1;
}

.arrowContainer {
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 32px;
    }
    .downArrow {
        margin-left: 46px;
    }
    .name {
        gap: 16px;
    }
    .downArrow.animating {
        transform: translateX(0) rotate(180deg); 
    }

    .upArrow.animating {
        transform: translateX(0) rotate(0deg);
    }
    .upArrow, .downArrow {
        width: max-content;
        height: max-content;
    }
    .arrowContainer {
        align-items: normal;
    }
}

@media (min-width: 1280px) {
    .nameText {
        font-size: 56px;
        padding: 20px 26px;
    }
    .wallet {
        font-size: 16px;
    }
  
}