.header {
  margin-top: 72px;
}

.title {
  gap: 50px;
  margin-bottom: 80px;
}

.partnersContainer {
  padding: 16px 0;
  gap: 40px;
  border-top: 1px solid var(--ens-gray-2);
}

.gtwSection {
  gap: 80px;
}

.mainSection {
  padding-top: 0 !important;
}

.ownershipVideo {
  width: 151px;
}

.cardsSection {
  margin-top: 80px;
}

.cardsSection > * + * {
  margin-top: 10px;
}

@media (max-width: 520px) {
  .header {
    padding-top: 16px;
    margin-top: 72px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 90px;
    min-height: min(64vh, 700px);
  }

  .gtwSection {
    gap: 40px;
  }
  .ownershipVideo {
    width: 515px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin-top: 100px;
    min-height: min(64vh, 700px);
    padding-block: 100px;
  }

  .gtwSection {
    gap: 80px;
  }
  .ownershipVideo {
    width: 901px;
  }
}
