.container {
    gap: 23px;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ens-white);
    box-shadow: 0px 12.134px 16.178px rgba(0, 0, 0, 0.06);
    border-radius: 60px;
    padding: 10px;
}

.container > div > img {
    width: 30px;
    height: 30px;
}

.position-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.animation-container {
    position: relative;
}

.animated-square {
    top: calc(50% - 33px/2);
}

@keyframes move-u-left {
    0%, 50%, 100% {
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
    }

    /* UP */
    10%, 40% {
        transform: translate(0, var(--shift-up-1));
        animation-timing-function: ease-in-out;
    }
    15%, 35% {
        transform: translate(var(--shift-left-1), var(--shift-up-2));
        animation-timing-function: ease-in-out;
    }
    25% {
        transform: translate(var(--shift-left-2), var(--shift-up-2));
        animation-timing-function: ease-in-out;
    }

    /* DOWN */
    60%, 90% {
        transform: translate(0, var(--shift-down-1));
        animation-timing-function: ease-in-out;
    }
    65%, 85% {
        transform: translate(var(--shift-left-1), var(--shift-down-2));
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: translate(var(--shift-left-2), var(--shift-down-2));
        animation-timing-function: ease-in-out;
    }
}

.animation-container:nth-child(1) .animated-square {
    animation: move-u-left 12.5s linear infinite;
}

@keyframes move-u-right {
    0%, 50%, 100% {
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
    }

    /* DOWN */
    60%, 90% {
        transform: translate(0, var(--shift-up-1));
        animation-timing-function: ease-in-out;
    }
    65%, 85% {
        transform: translate(42px, var(--shift-up-2));
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: translate(137px, var(--shift-up-2));
        animation-timing-function: ease-in-out;
    }

    /* UP */
    10%, 40% {
        transform: translate(0, var(--shift-down-1));
        animation-timing-function: ease-in-out;
    }
    15%, 35% {
        transform: translate(var(--shift-left-1), var(--shift-down-2));
        animation-timing-function: ease-in-out;
    }
    25% {
        transform: translate(var(--shift-left-2), var(--shift-down-2));
        animation-timing-function: ease-in-out;
    }
}
.animation-container:nth-child(2) .animated-square {
    animation: move-u-right 12.5s linear infinite;
}

.animation-container img {
    width: 100%;
}

@media (min-width: 768px) {
    .position-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .animation-container img {
        height: 366px;
    }
    .animated-square {
        --shift-up-1: -145px;
        --shift-up-2: -158px;
        --shift-down-1: 140px;
        --shift-down-2: 150px;
    }
    .animated-square {
        top: calc(50% - 21px/2);
    }
    .animation-container:nth-child(1) .animated-square {
        --shift-left-1: -30px;
        --shift-left-2: -103px;
        right: 19px;
    }
    .animation-container:nth-child(2) .animated-square {
        --shift-left-1: 30px;
        --shift-left-2: 104px;
        left: 19px;
    }
    .container > div {
        box-shadow: 0px 12.134px 16.178px rgba(0, 0, 0, 0.06);
        padding: 20px;
    }
    .container > div > img {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 1280px) {
    .animation-container img {
        height: 100%;
    }
    .animated-square {
        --shift-up-1: -235px;
        --shift-up-2: -255px;
        --shift-down-1: 230px;
        --shift-down-2: 250px;
    }
    .animated-square {
        top: calc(50% - 26px/2);
    }
    .animation-container:nth-child(1) .animated-square {
        --shift-left-1: -42px;
        --shift-left-2: -140px;
        right: 34px;
    }
    .animation-container:nth-child(2) .animated-square {
        --shift-left-1: 42px;
        --shift-left-2: 142px;
        left: 34px;
    }
    .container > div {
        padding: 20px;
        box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.06);
    }
    .container > div > img {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 1680px) {
    .animated-square {
        --shift-up-1: -240px;
        --shift-up-2: -260px;
        --shift-down-1: 225px;
        --shift-down-2: 245px;
    }
    .animation-container:nth-child(1) .animated-square {
        --shift-left-1: -42px;
        --shift-left-2: -137px;
        right: 31px;
    }
    .animation-container:nth-child(2) .animated-square {
        --shift-left-1: 42px;
        --shift-left-2: 137px;
        left: 31px;
    }
    .container > div {
        padding: 20px;
    }
    .container > div > img {
        height: 60px;
        width: 60px;
    }
}