@import "tailwindcss";
@import "tw-animate-css";
@import "./utils.css";

@plugin "@tailwindcss/typography";

@theme {
  --color-ens-blue: #0080bc;
  --color-ens-blue-hover: #0070a4;
  --color-ens-blue-light: #cee1e8;
  --color-ens-blue-light-hover: #d8e7ed;
  --color-ens-blue-midnight: #093c52;
  --color-ens-blue-dark: #011a25;
  --color-ens-magenta: #f53293;
  --color-ens-magenta-light: #f2c4da;
  --color-ens-green: #007c23;
  --color-ens-green-light: #c5ddcc;
  --color-ens-yellow: #fff72f;
  --color-ens-yellow-light: #f8f6d6;
  --color-ens-orange: #f47600;
  --color-ens-orange-light: #ffe2b4;
  --color-ens-brown-dark: #674d49;
  --color-ens-gray: #4a5c63;
  --color-ens-gray-two: #e5e5e5;
  --color-ens-gray-three: #c4c7c8;
  --color-ens-white: #f6f6f6;

  /* Experimental brand colors */
  --color-ens-lapis-dust: #CEE1E8;
  --color-ens-lapis-surface: #79B1D0;
  --color-ens-lapis-core: #0080BC;
  --color-ens-lapis-dense: #093C52;

  --color-ens-bronzite-dust: #F8F6D6;
  --color-ens-bronzite-surface: #AE9582;
  --color-ens-bronzite-core: #674D49;
  --color-ens-bronzite-dense: #431C11;

  --color-ens-peridot-dust: #C5DDCC;
  --color-ens-peridot-surface: #74AC76;
  --color-ens-peridot-core: #007C23;
  --color-ens-peridot-core2: oklch(50% 0.196656 149.1);
  --color-ens-peridot-dense: #033010;

  --color-ens-garnet-dust: #F2C4DA;
  --color-ens-garnet-surface: #F886B6;
  --color-ens-garnet-core: #F53293;
  --color-ens-garnet-dense: #8A0A49;

  --leading-ens-none: 96%;
  --leading-ens-tight: 112%;
  --leading-ens-normal: 120%;

  --breakpoint-xs: 30rem;

}

@theme inline {
  --font-sans: var(--ens-sans);
  --font-serif: var(--ens-serif);
  --font-mono: var(--ens-mono);
  --font-semi-mono: var(--ens-semi-mono);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background: var(--ens-white);
    color: var(--ens-dark-blue);
    font-family: var(--ens-sans), var(--ens-sans-fb), sans-serif;
    font-feature-settings:
      "ss01" on,
      "ss03" on;
    font-weight: 500;

    max-width: 100vw;
    overflow-x: hidden;
  }

  html:lang(ru) body {
    --ens-sans: var(--ens-sans-fb);
    --ens-mono: monospace;
    --ens-semi-mono: monospace;
    --ens-serif: var(--ens-serif-fb);
  }

  div[role="group"][tabindex] {
    height: 100%;
  }

  :root {
    /* Colors */
    --ens-blue: #0080bc;
    --ens-light-blue: #cee1e8;
    --ens-medium-blue: #093c52;
    --ens-dark-blue: #011a25;
    --ens-magenta: #f53293;
    --ens-light-magenta: #f2c4da;
    --ens-green: #007c23;
    --ens-light-green: #c5ddcc;
    --ens-dark-brown: #674d49;
    --ens-light-yellow: #f8f6d6;
    --ens-yellow: #fff72f;
    --ens-gray-4: #4a5c63;
    --ens-gray-3: #c4c7c8;
    --ens-gray-2: #e5e5e5;
    --ens-gray-1: #f6f6f6;
    --ens-white: #f6f6f6;

    /* Hover states */
    --ens-hover-blue: rgba(0, 128, 188, 0.8);
    --ens-hover-light-blue: #b9dae1;
    --ens-hover-green: rgba(0, 124, 35, 0.8);
    --ens-hover-magenta: rgba(245, 50, 148, 0.8);

    --page-text: var(--ens-dark-blue);
    --page-bg: var(--ens-light-blue);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  /* TYPOGRAPHY */

  h1 {
    font-weight: 500;
    line-height: 96%;

    font-size: 40px;
    letter-spacing: -0.035em;
  }

  html:lang(ru) h1 {
    font-weight: 600;
  }

  html:lang(ru) h1 span {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
    line-height: 90%;

    font-size: 32px;
    letter-spacing: -0.03em;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    line-height: 96%;

    font-size: 24px;
    letter-spacing: -0.02em;
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    line-height: 96%;

    font-size: 24px;
    letter-spacing: -0.015em;
  }

  h5 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
  }

  p {
    font-family: var(--ens-serif);
    color: var(--ens-medium-blue);
    font-size: 20px;
    line-height: 112%;
  }

  /* TYPOGRAPHY/TABLET */
  @media (min-width: 768px) {
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 64px;
    }
    h3 {
      font-size: 40px;
    }
  }

  /* TYPOGRAPHY/DESKTOP */
  @media (min-width: 1280px) {
    h1 {
      font-size: 124px;
    }
    h2 {
      font-size: 100px;
    }
    h3 {
      font-size: 64px;
    }
    h4 {
      font-size: 36px;
    }
  }

  button,
  input {
    border-style: none;
  }

  a {
    text-decoration: none;
  }

  details summary {
    position: relative;
  }

  details summary::after {
    content: "▶";
    position: absolute;
  }

  details[open] summary::after {
    content: "▼";
  }

  summary {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  p ul {
    margin: 1.25rem 0;
    padding-left: 1rem;
    list-style-type: disc;
  }

  figure {
    margin: 0;
  }
}

@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

.prose-ens {
  --tw-prose-headings: var(--color-ens-blue-midnight);

  @apply max-w-[60ch] md:text-xl text-[15px];

  @apply prose-p:leading-normal prose-p:font-[350] prose-p:text-[15px] md:prose-p:text-xl;
  @apply prose-li:font-serif prose-li:font-[350];
  @apply prose-inline-code:before:hidden prose-inline-code:after:hidden prose-inline-code:bg-ens-gray-two prose-inline-code:text-ens-blue prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:rounded-md prose-inline-code:font-normal;

  /* Heading styles */
  @apply prose-headings:mt-8 prose-headings:mb-4 prose-headings:font-medium;
  @apply prose-h1:text-[32px] md:prose-h1:text-[68px];
  @apply prose-h2:text-[28px] md:prose-h2:text-5xl;
  @apply prose-h3:text-[20px] md:prose-h3:text-4xl;
  @apply prose-h4:text-[17.5px] md:prose-h4:text-[28px];
  @apply prose-h5:text-[16px] md:prose-h5:text-[20px];
  @apply prose-h6:text-[15px] prose-h6:italic prose-h6:font-serif prose-h6:font-[350] md:prose-h6:text-[22px];
}

@utility grid-areas-* {
  grid-template-areas: --value([*])
}

@utility area-* {
  grid-area: --value([*]);
}