body {
    margin: 0;
    background: #f6f6f6;
    font-family: var(--ens-sans);
    font-feature-settings: 'ss01' on, 'ss03' on;
    font-weight: 500;

    max-width: 100vw;
    overflow-x: hidden;
}

div[role='group'][tabindex] {
    height: 100%;
}

:root {
    /* Colors */
    --ens-blue: #0080bc;
    --ens-light-blue: #cee1e8;
    --ens-medium-blue: #093c52;
    --ens-dark-blue: #011a25;
    --ens-magenta: #f53293;
    --ens-light-magenta: #f2c4da;
    --ens-green: #007c23;
    --ens-light-green: #c5ddcc;
    --ens-dark-brown: #674d49;
    --ens-light-yellow: #f8f6d6;
    --ens-yellow: #fff72f;
    --ens-gray-4: #4a5c63;
    --ens-gray-3: #c4c7c8;
    --ens-gray-2: #e5e5e5;
    --ens-gray-1: #f6f6f6;
    --ens-white: #f6f6f6;

    /* Hover states */
    --ens-hover-blue: #046C9D;
    --ens-hover-light-blue: #F0F5F8;
}

@custom-media --xs (max-width: 400px);
@custom-media --small (max-width: 576px);
@custom-media --medium (max-width: 768px);
@custom-media --large (max-width: 1024px);
@custom-media --xLarge (max-width: 1200px);
@custom-media --tallPhone (max-width: 360px) and (min-height: 740px);

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* TYPOGRAPHY */

h1 {
    font-family: var(--ens-sans);
    font-weight: 500;
    font-size: 124px;
    letter-spacing: -2.48px; 
    line-height: 96%;
}

h2 {
    font-family: var(--ens-sans);
    font-weight: 500;
    font-size: 100px;
    letter-spacing: -2px; 
    line-height: 90%;
}

p {
    font-family: var(--ens-serif);
    font-size: 20px;
    line-height: 112%;
}

button,input {
    border-style: none;
}

a {
    text-decoration: none;
}

details summary {
    position: relative;
  }

details summary::after {
    content: "▶";
    position: absolute;
    margin-left: 8px;
    bottom: 8px;
    font-size: 12px;
}

details[open] summary::after {
    content: "▼";
}

summary {
list-style: none
}

summary::-webkit-details-marker {
display: none;
}