.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
}

.w-page {
    max-width: 85vw;
    width: 100%;
    margin: 0 auto;
    padding: 200px 0;
}

@media (min-width: 1600px) {
    .w-page {
        max-width: 1400px;
    }
}

.space-y-4 > * + * {
    margin-top: 1rem;
}

.space-x-4 > * + * {
    margin-left: 1rem;
}

.cursive {
    font-family: cursive;
    font-size: 1.2em;
}

.button {
    background-color: var(--ens-blue);
    color: var(--ens-gray-2);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    /* background-color: var(--ens-light-blue); */
}