.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
}

.w-page {
    max-width: 1374px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (min-width: 1024px) {
    .w-page {
        padding: 0 4rem;
    }
}

.space-y-4 > * + * {
    margin-top: 1rem;
}

.space-x-4 > * + * {
    margin-left: 1rem;
}

.space-y-40 > * + * {
    margin-top: 40px;
}

.max-w-text {
    max-width: 420px;
}

.cursive {
    font-family: var(--ens-serif);
    font-size: 1.2em;
    color: var(--ens-medium-blue);
}

.button {
    background-color: var(--page-text);
    /* background-color: var(--ens-blue); */
    /* color: var(--ens-gray-2); */
    color: var(--page-bg);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
}

.button-secondary {
    background-color: var(--page-bg);
    color: var(--page-text);
}

.button:hover {
    /* background-color: var(--ens-light-blue); */
}

.dots-bg {
    position: relative;
}

.dots-bg::after {
    content: '';
    width: 100%;
    inset: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    background-image: radial-gradient(var(--page-text) 1px, transparent 1px);
    background-size: 10px 10px;
}
