.container {
  background-color: var(--feature-bg);
  color: var(--feature-text);
  width: 100%;
  height: 790px;
  padding: 10px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.menubar {
  border-bottom: 1px solid var(--feature-text);
  width: 100%;
  gap: 6px;
  padding-bottom: 10px;
}

.headline {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  width: 412px;
}

.dot {
  background-color: var(--dot-color);
  width: 12px;
  height: 12px;
  border-radius: 2px;
}