.input {
    display: block;
    width: 100%;
    background-color: var(--ens-light-blue);
    color: var(--ens-dark-blue);
    border-style: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 96%;
    box-sizing: border-box;
    font-family: var(--ens-mono), monospace;

    font-size: 24px;
    padding: 20px;
}

.inputSuffix {
    color: var(--ens-dark-blue);
    position: absolute;
    left: calc(var(--left) + 1.5rem);
    font-family: var(--ens-mono), monospace;

    font-size: 24px;
    top: calc(50% - 15px);
}

.icon {
    position: absolute;
    right: 20px;
    top: calc(50% - 20px / 2);
    height: 20px;
    width: 20px;
    background: transparent;
    padding: 0;
}
.icon > svg {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    gap: 20px;
    margin-top: 50px;
}

.caption {
    font-weight: 500;
    font-family: var(--ens-mono);
    color: var(--ens-dark-blue);

    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 96%;
}

.input::after {
    content: '.eth';
}

.searchboxContainer {
    gap: 10px;
    width: 100%;
}

.inputContainer {
    color: var(--ens-blue);
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .input {
        padding: 20px 24px;
    }
    .input, .inputSuffix {
        font-size: 52px;
    }
    .inputSuffix {
        top: 19px;
    }
    .icon {
        height: 34px;
        width: 34px;
        top: calc(50% - 34px / 2);
        right: 24px;
    }
    .container {
        gap: 28px;
        margin-top: 60px;
    }
    .caption {
        letter-spacing: 0.4px;
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .input {
        padding: 28px;
    }
    .input, .inputSuffix {
        font-size: 76px;
    }
    .icon {
        top: calc(50% - 56px / 2);
        width: max-content;
        height: max-content;
        right: 28px;
    }
    .container {
        gap: 40px;
    }
    .caption {
        line-height: 96%;
        letter-spacing: -0.4px;
        font-size: 20px;
    }
    .inputSuffix {
        top: calc(56px / 2);
    }
}