.input {
  display: block;
  width: 100%;
  background-color: var(--ens-light-blue);
  color: var(--ens-dark-blue);
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 96%;
  box-sizing: border-box;
  font-family: var(--ens-semi-mono);

  font-size: 52px;
  padding: 20px 24px;
  max-width: 882px;
}

@media (min-width: 1280px) {
  .input {
    font-size: 76px;
    max-width: 1394px;
    padding: 28px;
  }
}

.input::after {
  content: '.eth';
}

.searchboxContainer {
  gap: 8px;
}

.container {
  gap: 40px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.inputContainer {
  color: var(--ens-blue);
  position: relative;
}

.icon {
  position: absolute;
  right: 28px;
  top: calc(50% - 56px / 2);
}

.status {
  color: var(--ens-dark-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 96%; /* 13.44px */
  letter-spacing: -0.28px; 
  font-family: var(--ens-sans);
}

.caption {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--ens-sans);
  line-height: 96%;
  letter-spacing: -0.4px;
  color: var(--ens-dark-blue);
}