.list {
  margin-top: 40px;
}

.list > li {
  list-style-type: none;
  margin: 0;
  border-top: 1px solid var(--ens-dark-blue);
  padding: 2rem 0;
  min-height: 4rem;
  text-decoration: none;
  display: grid;
  gap: 1rem;

  grid-template-columns: 1fr;
}

.list > li span {
  color: var(--ens-dark-blue);
  text-decoration: none;

  height: fit-content;
  font-size: 20px;
}

.list > li span:nth-child(1) {
  line-height: 96%;
}

.list > li a {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list > li span:nth-child(2) {
  color: var(--ens-medium-blue);
}

.list > li:hover span:nth-child(1) {
  color: var(--page-text);
}

.list > li a svg:nth-child(2) {
  color: var(--page-text);
}

.arrow {
  height: 12px;
  width: 12px;
}

.paragraph {
  max-width: 550px;
  width: 100%;
}

@media (min-width: 768px) {
  .list > li {
    grid-template-columns: 1fr 1fr;
  }
  .list > li span:nth-child(1) {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .list > li span:nth-child(1) {
    font-size: 36px;
  }
  .list > li a svg {
    height: 24px;
    width: 24px;
  }
  .arrow {
    height: 24px;
    width: 24px;
  }
}
