.title {
  gap: 50px;
  margin-bottom: 80px;
}

.header-ens-link {
  font-family: var(--ens-semi-mono);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  padding: 20px 26px;
  border-radius: 8px;
  position: absolute;
}

.header-ens-link:nth-of-type(1) {
  color: var(--ens-blue);
  background: var(--ens-light-blue);

  left: -9px;
  top: 154px;
}

.header-ens-link:nth-of-type(2) {
  color: var(--ens-magenta);
  background: var(--ens-light-magenta);

  left: 283px;
  top: 80px;
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .header-ens-link {
    font-size: 38px; 
  }
  .header-ens-link:nth-of-type(1) {

  }

  .header-ens-link:nth-of-type(2) {
    
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-ens-link:nth-of-type(1) {

  }

  .header-ens-link:nth-of-type(2) {
    
  }
}