.h1 {
  color: var(--ens-dark-blue);
  max-width: 16ch;
}

.p {
  color: var(--ens-medium-blue);
  width: 412px;
}

.header {
  width: 100%;
  gap: 3.75rem;
  height: 100vh;
}
.h1,.p {
  text-align: center;
}

.feelBetter {
  font-family: var(--ens-semi-mono);
  letter-spacing: -3.72px; 
}
.feelBetter::before {
  content: '[';
  color: var(--ens-light-blue);
}
.feelBetter::after {
  content: ']';
  color: var(--ens-light-blue);
}