.currentLanguage {
    color: var(--ens-blue);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    letter-spacing: 0.24px;
    text-transform: uppercase;
    user-select: none;
}

.summary {
    background-color: var(--ens-light-blue);
    padding: 6px 12px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
}
.summary::after {
    color: var(--ens-blue);
}

.details {
    position: relative;
    width: 56px;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 167px;
    background-color: var(--ens-light-blue);
    color: var(--ens-blue);
    border-radius: 4px;
}

.language {
    padding: 10px;
    color: var(--ens-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--ens-white);
    font-size: 12px;
}

.indicator {
    width: 12px;
    height: 12px;
    background: var(--ens-white);
    border-radius: 1px;
}

.currentIndicator {
    background: var(--ens-blue);
}

.language:hover {
    color: var(--ens-hover-blue);
}

.language:hover .indicator {
    background: var(--ens-hover-blue);
}