.box {
  transition-duration: 0.75s;
  transition-property: right, left, opacity;
  position: absolute;
  width: max-content;
  height: max-content;
}

.container {
  position: relative;
  max-width: 824px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
}

.container > :nth-child(1) {
  right: 0px;
  opacity: 0;
  top: 35px;
}

.container > :nth-child(1).animating {
  right: 25px;
  opacity: 1;
}

.container > :nth-child(2) {
  left: 0px;
  opacity: 0;
  top: 185px;
  transition-delay: 0.5s;
}

.container > :nth-child(2).animating {
  left: 50px;
  opacity: 1;
}

.container > :nth-child(3) {
  right: 0px;
  opacity: 0;
  top: 288px;
  transition-delay: 0.75s;
}

.container > :nth-child(3).animating {
  right: 50px;
  opacity: 1;
}

.container > :nth-child(4) {
  left: 0px;
  opacity: 0;
  top: 390px;
  transition-delay: 1s;
}

.container > :nth-child(4).animating {
  left: 50px;
  opacity: 1;
}