.header {
    width: 100%;
    gap: 2rem;
    min-height: min(80vh, 700px);
    padding: 5rem 1rem;
}

.tag {
    background: var(--page-bg);
    color: var(--page-text);
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}

.h1 {
    color: var(--page-text);
    max-width: 16ch;
}

.p {
    color: var(--ens-medium-blue);
    width: 100%;
    max-width: 412px;
}

.h1,
.p {
    text-align: center;
}

.feelBetter {
    font-family: var(--ens-semi-mono);
    letter-spacing: -3.72px;
}

.feelBetter::before {
    content: '[';
    color: var(--page-bg);
}

.feelBetter::after {
    content: ']';
    color: var(--page-bg);
}

.cta {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

/* Mobile Small only (640 and below) */
@media (max-width: 640px) {
    .cta {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.cta a:first-child {
    background: var(--page-text);
    color: var(--page-bg);
}

.cta a {
    background: var(--page-bg);
    color: var(--page-text);
}
