.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 2rem 0;
    margin: 2rem 0;
}
