.nav {
    padding: 20px 16px 20px 36px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    z-index: 10;

    gap: 2rem;
    background: linear-gradient(180deg, #fff 0 5%, hsla(0,0%,100%,0) 90%);
    backdrop-filter: blur(4px);
}

.langWithApp {
    display: flex;
    align-items: center;

    gap: 28px;
}

.logo {
    width: 1rem;
}

.launch {
    background-color: var(--ens-blue);
    color: var(--ens-gray-2);
}

.launch:hover {
    background-color: var(--ens-hover-blue);
}

.link {
    color: var(--ens-dark-blue);
    font-size: 18px;
    font-family: var(--ens-mono);
}

.link:hover {
    color: var(--link-hover);
}

.links {
    gap: 40px;
}

.links,
.right {
    align-items: center;
}

.right {
    width: 100%;
    gap: 80px;
    justify-content: end;
}

@media (max-width: 1024px) {
    .right {
        /* temp hide until we build mobile */
        display: none;
    }
}

.tabletOnly {
    display: none;
}

.desktopOnly {
    display: block;
}

@media (max-width: 1024px) {
    .tabletOnly {
        display: block;
    }
    .desktopOnly {
        display: none;
    }
}

@media (min-width: 1280px) {
    .langWithApp {
        gap: 40px;
    }
}