body {
    margin: 0px;
    background: #f6f7fa;
    font-family: "Satoshi", sans-serif;
    font-feature-settings: "ss01" on, "ss03" on;
    font-weight: 500;
}

div[role="group"][tabindex] {
    height: 100%;
}

@font-face {
    font-family: "JakartaSans";
    src: url("../assets/webfonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("../assets/webfonts/PlusJakartaSans-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "JakartaSans";
    src: url("../assets/webfonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("../assets/webfonts/PlusJakartaSans-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Bold.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Variable.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://app.ens.domains/fonts/sans-serif/Satoshi-Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
}
