.input {
  display: block;
  width: 100%;
  color: var(--ens-magenta);
  border-radius: 4px;
  font-weight: 500;
  line-height: 96%;
  box-sizing: border-box;
  font-family: var(--ens-mono), monospace;
  border: 1px solid var(--ens-magenta);

  background-color: var(--ens-white);
  font-size: 30px;
  padding: 20px;
  outline: none;
}

.input::placeholder {
  color: var(--ens-magenta);
  opacity: 0.3;
}

.blog-grid {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 640px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}

@media (min-width: 1280px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
