.img {
  transition: opacity var(--duration) ease-in-out;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: var(--width);
  height: var(--height);
  position: relative;
}
