@keyframes move-diagonal {
    0%, 100% {
        transform: rotate(45deg) translate(0, 0);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: rotate(45deg) translate(--shift, 0);
        animation-timing-function: ease-in-out;
    }
}

.position-container {
    position: absolute;
}

.animation-container {
    position: relative;
}

.position-container:nth-child(1) {
    left: 11%;
    bottom: 36px;
}

.position-container:nth-child(2) {
    right: 62px;
    top: 107px; 
}

.position-container:nth-child(3) {
    left: 62px;
    top: 107px; 
}

.animated-square {
    background: var(--ens-white);
    border-radius: 2px;
    position: absolute;

    height: 33px;
    width: 33px;
    top: 210px;
    left: 28px;
    --shift: 170px;
    animation: move-diagonal-desktop 4s linear infinite;
}

@media (max-width: 768px) {
    .position-container {
        display: none;
    }
    .animated-square {
        display: none;
    }
}

@media (max-width: 1280px) {
    .position-container:nth-child(1) {
        display: none;
    }
    .position-container:nth-child(2) {
        right: 36px;
    }
    .position-container:nth-child(2) > img, .position-container:nth-child(3) img {
        height: 240px;
        width: max-content;
    }
    .animated-square {
        height: 20px;
        width: 20px;
        top: 129px;
        left: 17px;
        --shift: 105px;
        animation: move-diagonal-tablet 4s linear infinite;
    }
}