@keyframes move {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        offset-distance: 0%;
    }
    11% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    94% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        offset-distance: 100%;
        opacity: 0;
    }
}

.position-container {
    position: absolute;
}

.animation-container {
    position: relative;
}

.position-container:nth-child(1) {
    left: 11%;
    bottom: 36px;
}

.position-container:nth-child(2) {
    right: 62px;
    top: 107px; 
}

.position-container:nth-child(3) {
    left: 62px;
    top: 107px; 
}

.animated-square {
    background: var(--ens-white);
    border-radius: 2px;
    position: absolute;

    height: 33px;
    width: 33px;
    animation: move 4s linear infinite;
}

.animated-square[data-name="magenta"] {
    left: 138px;
    top: 0;
    offset-path: path("M117.422 0.355957L0.725778 424.599");
}

@media (max-width: 768px) {
    .position-container {
        display: none;
    }
    .animated-square {
        display: none;
    }
}

@media (max-width: 1280px) {
    .position-container:nth-child(1) {
        display: none;
    }
    .position-container:nth-child(2) {
        right: 36px;
    }
    .position-container:nth-child(2) img, .position-container:nth-child(3) img {
        height: 240px;
        width: max-content;
    }
}