.logo {
  margin-bottom: 20px;
}

.footerContainer {
  background: #1e3277;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.externalLink {
  font-size: 28px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 20px;
  
}

.externalLink img {
  margin-right: 8px;
}

.socialContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mailTo {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.mailTo:not(:last-child) {
  margin-bottom: 10px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (--medium) {
  .logo {
    margin-bottom: 0;
  }

  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .externalLink {
    margin-bottom: 0px;
    padding: 0 25px 0;
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    
  }
  .externalLink:last-child {
    padding: 0 0 0 25px;
    border-right: none;
  }
  .socialContainer {
    flex-direction: row;
  }
  .footerContainer {
    align-items: flex-start;
  }
}
