body {
  margin: 0;
  background: #F6F6F6;
  font-family: "Satoshi", sans-serif;
  font-feature-settings: "ss01" on, "ss03" on;
  font-weight: 500;
}

div[role="group"][tabindex] {
  height: 100%;
}

.f1 {
  font-family: serif;
}
.f2 {
  font-family: sans-serif;
}

p {
  font-family: serif;
}

:root {
  /* Colors */
  --ens-blue: #0080BC;
  --ens-light-blue: #CEE1E8;
  --ens-medium-blue: #093C52;
  --ens-dark-blue: #011A25;
  --ens-magenta: #F53293;
  --ens-light-magenta: #F2C4DA;
  --ens-green: #007C23;
  --ens-light-green: #C5DDCC;
  --ens-dark-brown: #674D49;
  --ens-light-yellow: #F8F6D6;
  --ens-yellow: #FFF72F;
  --ens-gray-4: #4A5C63;
  --ens-gray-3: #C4C7C8;
  --ens-gray-2: #E5E5E5;
  --ens-gray-1: #F6F6F6;
  --ens-white: #F6F6F6;
}

@custom-media --xs (min-width: 400px);
@custom-media --small (min-width: 576px);
@custom-media --medium (min-width: 768px);
@custom-media --large (min-width: 992px);
@custom-media --xLarge (min-width: 1200px);
@custom-media --tallPhone (max-width: 360px) and (min-height: 740px);

h2 {
  margin: 0;
}
